{% extends 'base.html.twig' %}
{% block title %}Voyages | Nomad Explorer
{%
    endblock %}
{% block body %}
	{# Title page #}
	<h1 class="text-white font-bold text-4xl mt-24 lg:text-5xl">
		Les circuits les plus
		<span class="gradient">appréciés</span>
	</h1>

	{# Bests tours #}
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 my-12">
		{% for voyage in voyages|slice(0, 3) %}
			<a href="{{ path('app_voyage_show', { id: voyage.id }) }}" class="h-[200px] md:h-[450px] rounded-lg">
				<div style="background-image: url('{{ voyage.image }}');" class="flex items-center justify-center rounded-lg w-full h-full bg-cover bg-center">
					<h3 class="text-white text-4xl font-bold">{{ voyage.title }}</h3>
				</div>
			</a>
		{% endfor %}
	</div>

	{# All tours #}
	<h1 class="text-white font-bold text-4xl mt-40 mb-12 lg:text-5xl">
		Liste des
		<span class="text-blueTitle">circuits</span>
	</h1>

	<div class="flex flex-col lg:flex-row">


		<div class="w-full lg:w-4/5 lg:px-7">
			<h3 class="text-lg my-7 text-gray-500 italic ml-7 text-left lg:mt-0 lg:mb-7">{{ voyages|length }}
				résultats</h3>
			<div class="flex flex-col gap-8">
				{% for voyage in voyages %}
					<a href="{{ path('app_voyage_show', { id: voyage.id }) }}">
						<img src="{{ voyage.image }}" alt="image test" class="w-full h-96 rounded-4xl bg-cover"/>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
